@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: whitesmoke;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("../assets/fonts/Gotham-Font/GothamBold.ttf");
}

@font-face {
  font-family: "Gotham-Light";
  src: url("../assets/fonts/Gotham-Font/Gotham-Light.otf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("../assets/fonts/Gotham-Font/GothamMedium.ttf");
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4b515b;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c636e;
}

/* Background Blob */

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  z-index: -30;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -20;
  backdrop-filter: blur(12vmax);
}

.circle-1 {
  will-change: transform;
  animation: circle-1-keyframes 13s ease-in-out infinite alternate;
}

.circle-2 {
  will-change: transform;
  animation: circle-2-keyframes 8s ease-in-out infinite alternate;
}

.circle-3 {
  will-change: transform;
  animation: circle-3-keyframes 18s ease-in-out infinite alternate;
}

@keyframes circle-1-keyframes {
  0% {
  }
  100% {
    transform: translateX(200px) translateY(50px);
  }
}

@keyframes circle-2-keyframes {
  0% {
  }
  100% {
    transform: translateX(300px) translateY(-25px);
  }
}

@keyframes circle-3-keyframes {
  0% {
  }
  100% {
    transform: translateX(250px) translateY(25px);
  }
}

.will-change-opacity {
  will-change: opacity;
}
